<alert type="danger" close="closeAlert()" ng-show="alert.show">{{alert.msg}}</alert>
<alert type="success" ng-show="success.show">{{success.msg}}</alert>

<div class="achauth-create">
  <h3 class="text-center">Create ACH auth</h3>
  <form ng-submit="createachauth()">
    <div class="form-group">
      <label>entity_id</label>
      <input type="text" class="form-control" ng-model="achauth.entity_id">
    </div>
    <div class="form-group">
      <label>literal</label>
      <input type="text" class="form-control" ng-model="achauth.literal">
    </div>
    <div class="form-group">
      <label>title</label>
      <input type="text" class="form-control" ng-model="achauth.title">
    </div>
    <div class="form-group">
      <label>account_number</label>
      <input type="text" class="form-control" ng-model="achauth.account_number">
    </div>
    <div class="form-group">
      <label>routing_number</label>
      <input type="text" class="form-control" ng-model="achauth.routing_number">
    </div>
    <div class="form-group">
      <label>account_type</label>
      <select ng-model="achauth.account_type">
        <option value="checking">Checking</option>
        <option value="savings">Savings</option>
      </select>
    </div>
    <div class="form-group">
      <label>address</label>
      <input type="text" class="form-control" ng-model="achauth.address">
    </div>
    <div class="form-group">
      <label>check_type</label>
      <select ng-model="achauth.check_type">
        <option value="business">Business</option>
        <option value="personal">Personal</option>
      </select>
    </div>

    <input type="submit" class="btn btn-primary pull-right" value="Submit">
  </form>
</div>
