<div class="col-xs-4 col-xs-push-4 text-center">
<h3>Revenue Calculator</h3>
<div class="form-group">
  <label>investmentAmount</label>
  <input type="text" class="form-control" ng-model="calc.investmentAmount">
</div>
<div class="form-group">
  <label>annualInterest in %</label>
  <input type="text" class="form-control" ng-model="calc.annualInterest">
</div>
<div class="form-group">
  <label>Terms</label>
  <select ng-model="calc.termtype">
  	<option value="1">Monthly</option>
  	<option value="3">Quarterly</option>
  	<option value="6">Semi-Annually</option>
  	<option value="12">Annually</option>
  </select>
  <input type="text" ng-model="calc.terms" class="form-control">
</div>
Revenue = {{revenue()}}
<hr>
Profit = {{profit()}}
</div>
<hr class="clearboth">
<div class="col-xs-6 col-xs-push-3 text-center">
  <h3>Repayment details</h3>
  <hr>
  Payment per term = {{emi()}}
  <hr>
  Total payment = {{emi() * calc.terms}}
  <hr>
  Total Interest = {{totalInterest()}}
  <hr>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Term Number</th>
        <th>Principal</th>
        <th>Interest</th>
        <th>Total principal paid</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in rows">
        <td>{{row.termno}}</td>
        <td>{{row.principal}}</td>
        <td>{{row.interest}}</td>
        <td>{{row.totalpaid}}</td>
        <td>{{row.balance}}</td>
      </tr>
    </tbody>
  </table>
</div>
